#Gira {
    margin-top: 25px;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: #AB47BC;
    color: #FFFFFF;
    font-size: 25px;
    cursor: pointer;
  }
  
  #Gira:hover {
    background-color: #BA68C8;
  }
  